.meetingRoom-item .d-flex small i {
    margin-left: 20px;
}
.meetingRoom-item .d-flex small i.fa-video-camera {
    top: -1px;
    position: relative;
}
.meetingRoom-item {
    transition: all .5s ease;
}
.rdt.is-invalid ~ .invalid-feedback {
    display: block;
}
.rdt.is-invalid .form-control {
    border-color: #dc3545;
}
.meetingRoom-item a.list-group-item-action {
    display: block;
}
.meetingRoom-item a.list-group-item-action:hover, .meetingRoom-item a.list-group-item-action:focus {
    background: none;
}
#meetingRooms {
    padding-bottom: 15px;
}