.meetingRoom-item .d-flex small i {
    margin-left: 20px;
}
.meetingRoom-item .d-flex small i.fa-video-camera {
    top: -1px;
    position: relative;
}
.meetingRoom-item {
    transition: all .5s ease;
}